/* Isso força qualquer imagem e o corpo da página a obedecerem o tamanho da tela */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  width: 100%;
  height: 100%;
  overflow: hidden; /* Isso trava o rolamento e força o tamanho */
}

#root {
  width: 100%;
  height: 100%;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}